body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.widget-footer a:hover, .widget-footer a:active {
    text-decoration: none;
}


.submenu {
    border-top: solid 2px #035330;
    background: #024528;
    width: 100%;
    height: auto;
    padding: 15px 10px 5px 30px;
    color: #fff;
}


    .submenu a {
        color: #fff;
        text-decoration: none;
    }

        .submenu a:hover {
            color: #fff;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; /* IE 8 */
            filter: alpha(opacity=20); /* IE 5-7 */
            -moz-opacity: 0.2; /* Netscape */
            -khtml-opacity: 0.2; /* Safari 1.x */
            opacity: 0.2; /* Good browsers */
        }

#alert {
    background: #fff;
    width: 450px;
    height: 150px;
    position: absolute;
    z-index: 99999999;
    left: 50%;
    margin-left: -200px;
    padding: 15px;
    border-radius: 10px;
    top: 50%;
    margin-top: -75px;
    box-shadow: 0px 0px 10px 0.4px;
}

.cabecalho_tabela {
    background: rgba(69, 72, 77, 0.47);
    color: #fff;
    font-size: 11px;
}

#tabela_beneficiario tbody tr td {
    border: dotted 1px rgba(85, 85, 85, 0.23);
    border-collapse: collapse;
    vertical-align: middle;
}

.pointer {
    cursor;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#tabela_endereco tbody tr td {
    border: dotted 1px rgba(85, 85, 85, 0.23);
    border-collapse: collapse;
}

.ativo {
    font-size: 11px;
    background: rgba(227, 252, 231, 0.71);
}

.normal {
    font-size: 11px;
    background: rgba(69, 72, 77, 0.10);
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 100%;
}

.modal-open .modal {
    outline: none;
}

.modal-header {
    background: #e9e9e9;
    border-color: #d1d2d3;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
}

.modal-title {
    color: #45484d;
}

.modal {
    overflow: hidden;
}

.modal-dialog {
    margin: 0 auto;
}

hr.style4 {
    border-top: 1px dotted #c1c1c1;
    height: 5px;
    margin-left: 15px;
    width: 97%;
}

#exTab1 .tab-content {
    color: white;
    background-color: #026c3e;
    padding: 5px 15px;
}

#exTab2 h3 {
    color: white;
    background-color: #026c3e;
    padding: 5px 15px;
}

.btn-secondary {
    color: #45484d;
}

.clear {
    display: inline-block;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

a {
    color: #808080;
}

    a:hover {
        color: #323232;
        text-decoration: none;
    }



h4 {
    color: #024528;
    margin-left: 15px;
}

h5 {
    color: #024528;
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
}


/* change border radius for the tab , apply corners on top*/



.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #026c3e;
    border-top: 4px solid #024528;
}


.btn-primary {
    color: #ffffff;
    background-color: #026c3e;
    border-color: #026c3e;
}

    .btn-primary:hover {
        color: #ffffff;
        background-color: #024528;
        border-color: #026c3e;
    }

select {
    background-color: #024528;
}


#exTab3 .tab-content {
    color: white;
    background-color: #026c3e;
    padding: 5px 15px;
}

.navbar-inverse {
    background-color: #414f50;
    border-bottom: 1px solid #414f50;
}

.menu_ {
    width: 100%;
    height: 115px;
    padding: 15px 10px 0px 10px;
}

.menu_iten {
    width: 90px;
    height: 90px;
    text-align: center;
    border: 1px solid #025431;
    padding: 10px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px #3a7a5e;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

a .menu_iten {
    color: #fff;
}


a:hover .menu_iten {
    color: #fff;
}

.menu_iten:hover {
    width: 90px;
    height: 90px;
    text-align: center;
    border: 1px solid #3a7a5e;
    padding: 10px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px #025431;
}

.menu_iten:active {
    width: 90px;
    height: 90px;
    text-align: center;
    border: 1px solid #3a7a5e;
    padding: 10px;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0px 1px 1px #025431;
    background: #025431;
    color: #3a7a5e;
    text-shadow: 0px 1px 0px #024528;
}

#grupo {
    resize: none;
}

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
    border-top: 4px solid #024528;
}

.my-fancy-container {
    border: 1px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    margin: 60px;
    padding: 10px;
    text-align: center;
}

.texto_icons {
    display: block;
    font-family: "Segoe UI";
    text-transform: uppercase;
    font-size: 0.7em;
    padding-top: 5px;
    color: #024528;
    text-shadow: 0px 1px 0px #3a7a5e;
}

.my-icon {
    vertical-align: middle;
    font-size: 40px;
}

#tools_grid {
    height: 45px;
}



.widget {
    background: #fff;
    margin: 0 auto 20px;
    position: static;
    border: 1px solid #c1c1c1;
}

    .widget .tab-content {
        padding: 0;
    }

    .widget .widget-head {
        background-color: #f8f8f8;
        background-image: -moz-linear-gradient(top, #f8f8f8, #ededed);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#ededed));
        background-image: -webkit-linear-gradient(top, #f8f8f8, #ededed);
        background-image: -o-linear-gradient(top, #f8f8f8, #ededed);
        background-image: linear-gradient(to bottom, #f8f8f8, #ededed);
        background-repeat: repeat-x;
        border-bottom: 1px solid #c1c1c1;
        color: #fff;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        height: 40px;
        line-height: 40px;
        position: relative;
        padding: 0 15px 0 0;
    }

        .widget .widget-head.progress {
            -webkit-border-radius: 0 0 0 0;
            -moz-border-radius: 0 0 0 0;
            border-radius: 0 0 0 0;
            margin: 0;
            padding: 0;
        }

        .widget .widget-head .glyphicons {
            height: 40px;
            width: 30px;
            padding: 0;
        }

        .widget .widget-head .fai:before {
            width: 30px;
            height: 40px;
            line-height: 31px;
            text-align: center;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.5);
        }

        .widget .widget-head .heading {
            margin: 0;
            color: #45484d;
            font-size: 14px;
            height: 40px;
            line-height: 40px;
            padding: 0 15px;
            float: left;
        }

            .widget .widget-head .heading.glyphicons {
                width: auto;
                display: block;
                padding: 0 0 0 35px;
            }

            .widget .widget-head .heading.fai:before {
                padding: 0;
                margin: 0;
                left: 0;
                top: 0;
                height: 40px;
                line-height: 40px;
                text-align: center;
                width: 35px;
                color: #45484d;
                font-size: 16px;
                font-weight: normal;
                text-shadow: none;
            }

        .widget .widget-head a {
            text-shadow: none;
        }

        .widget .widget-head .dropdown-menu li > a:hover, .widget .widget-head .dropdown-menu li > a:focus, .widget .widget-head .dropdown-submenu:hover > a {
            background-color: #47759e;
            background-image: -moz-linear-gradient(top, #47759e, #d24343);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#47759e), to(#d24343));
            background-image: -webkit-linear-gradient(top, #47759e, #d24343);
            background-image: -o-linear-gradient(top, #47759e, #d24343);
            background-image: linear-gradient(to bottom, #47759e, #d24343);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda4c4c', endColorstr='#ffd24343', GradientType=0);
        }

    .widget .details {
        font-size: 8pt;
        color: #45484d;
    }

    .widget .widget-body {
        padding: 20px 15px;
    }

        .widget .widget-body form {
            margin: 0;
        }

        .widget .widget-body .count {
            font-size: 15pt;
            font-weight: 400;
        }

        .widget .widget-body > p:last-child {
            margin: 0;
        }

        .widget .widget-body.list {
            color: #575655;
            padding: 0;
        }

            .widget .widget-body.list ul {
                margin: 0;
                list-style: none;
            }

                .widget .widget-body.list ul li {
                    padding: 0 10px;
                    height: 39px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
                    line-height: 39px;
                    text-align: left;
                    clear: both;
                }

                    .widget .widget-body.list ul li:first-child {
                        border-top: none;
                    }

                    .widget .widget-body.list ul li:last-child {
                        border-bottom: none;
                    }

                    .widget .widget-body.list ul li .count {
                        float: right;
                        color: #47759e;
                    }

                    .widget .widget-body.list ul li .sparkline {
                        position: relative;
                        top: 5px;
                        margin-left: 5px;
                    }

            .widget .widget-body.list.products li {
                height: 60px;
                line-height: 60px;
            }

            .widget .widget-body.list.products .img {
                float: left;
                display: inline-block;
                width: 48px;
                height: 44px;
                line-height: 44px;
                color: #818181;
                text-align: center;
                background: #272729;
                margin: 8px 8px 0 0;
                -webkit-border-radius: 3px 3px 3px 3px;
                -moz-border-radius: 3px 3px 3px 3px;
                border-radius: 3px 3px 3px 3px;
                cursor: pointer;
                font-size: 10pt;
                font-weight: 600;
            }

            .widget .widget-body.list.products .title {
                line-height: normal;
                display: inline-block;
                padding: 13px 0 0;
                font-family: "Raleway",sans-serif;
                text-transform: uppercase;
            }

                .widget .widget-body.list.products .title strong {
                    font-family: "Open Sans",sans-serif;
                    text-transform: none;
                }

            .widget .widget-body.list.fluid ul li {
                height: auto;
                line-height: normal;
                padding: 10px;
            }

            .widget .widget-body.list.list-2 ul li {
                border-bottom: 1px solid #d8d9da;
                border-top: none;
                background: #f8f8f8;
            }

                .widget .widget-body.list.list-2 ul li.active {
                    border-color: #dddddd;
                    background: #fff;
                }

                    .widget .widget-body.list.list-2 ul li.active i:before {
                        font-weight: normal;
                        background: #47759e;
                        color: #fff;
                        text-shadow: none;
                    }

                    .widget .widget-body.list.list-2 ul li.active a {
                        color: #47759e;
                    }

                .widget .widget-body.list.list-2 ul li:last-child {
                    border-bottom: none;
                }

                .widget .widget-body.list.list-2 ul li a {
                    display: block;
                    color: #222;
                    padding: 0 0 0 30px;
                }

                    .widget .widget-body.list.list-2 ul li a i:before {
                        color: #555;
                        width: 20px;
                        height: 17px;
                        font-size: 14px;
                        border: 1px solid #ccc;
                        background: #dddddd;
                        top: 9px;
                        left: 0;
                        text-align: center;
                        vertical-align: middle;
                        padding-top: 3px;
                        text-shadow: 0 1px 0 #fff;
                    }

                .widget .widget-body.list.list-2 ul li.hasSubmenu {
                    height: auto;
                }

                    .widget .widget-body.list.list-2 ul li.hasSubmenu ul {
                        padding: 0 0 10px;
                    }

                        .widget .widget-body.list.list-2 ul li.hasSubmenu ul li {
                            height: auto;
                            line-height: normal;
                            background: none;
                            border: none;
                            line-height: 20px;
                        }

                            .widget .widget-body.list.list-2 ul li.hasSubmenu ul li a {
                                color: #333;
                                padding: 0 0 0 20px;
                            }

                            .widget .widget-body.list.list-2 ul li.hasSubmenu ul li.active a {
                                font-weight: bold;
                            }

    .widget .widget-footer {
        background: #f7f7f7;
        height: 25px;
        line-height: 25px;
        border-top: 1px solid #e6e6e6;
        border-bottom: 1px solid #ffffff;
    }

        .widget .widget-footer .fa {
            width: 25px;
            height: 25px;
            line-height: 25px;
            padding: 0;
            float: right;
        }

            .widget .widget-footer .fa i:before {
                font-size: 16px;
                color: #c3c3c3;
                text-align: center;
                width: 20px;
                height: 25px;
                line-height: 25px;
                text-shadow: 0 1px 0 #fff;
            }

            .widget .widget-footer .fa:hover i:before {
                color: rgba(0, 0, 0, 0.5);
            }

    .widget.margin-bottom-none {
        margin-bottom: 0;
    }

    .widget.widget-gray {
        background: #f5f5f5;
    }

        .widget.widget-gray .widget-head {
            background: #e9e9e9;
            border-color: #d1d2d3;
            box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6),inset -1px -1px 1px rgba(0, 0, 0, 0);
            -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6),inset -1px -1px 1px rgba(0, 0, 0, 0);
            -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.6),inset -1px -1px 1px rgba(0, 0, 0, 0);
        }

            .widget.widget-gray .widget-head .heading {
                color: #555555;
                text-shadow: 0 1px 0 #fff;
            }

                .widget.widget-gray .widget-head .heading.fai:before {
                    background: none;
                    color: #555;
                    border-color: rgba(0, 0, 0, 0.1);
                }

    .widget.widget-body-white .widget-body {
        background: #fff;
    }


.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-sm {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-group-sm .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-lg {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-group-lg .form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.input-group-addon {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    .input-group-addon.input-sm {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .input-group-addon.input-lg {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

    .input-group .form-control:first-child,
    .input-group-addon:first-child,
    .input-group-btn:first-child > .btn,
    .input-group-btn:first-child > .btn-group > .btn,
    .input-group-btn:first-child > .dropdown-toggle,
    .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
    .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }

        .input-group .form-control:last-child,
        .input-group-addon:last-child,
        .input-group-btn:last-child > .btn,
        .input-group-btn:last-child > .btn-group > .btn,
        .input-group-btn:last-child > .dropdown-toggle,
        .input-group-btn:first-child > .btn:not(:first-child),
        .input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }

label {
    font-weight: 500;
    /*color:#45484d;*/
    color: rgba(69, 72, 77, 0.74);
}

textarea:focus, input:focus, select:focus, .uneditable-input:focus {
    border-color: rgba(58, 122, 94, 0.8) !important;
    box-shadow: 0 1px 1px rgba(58, 122, 94, 0.075) inset, 0 0 8px rgba(54, 122, 94, 0.6) !important;
    outline: 0 none !important;
}



.table > thead > tr > td.warning, .table > tbody > tr > td.warning, .table > tfoot > tr > td.warning, .table > thead > tr > th.warning, .table > tbody > tr > th.warning, .table > tfoot > tr > th.warning, .table > thead > tr.warning > td, .table > tbody > tr.warning > td, .table > tfoot > tr.warning > td, .table > thead > tr.warning > th, .table > tbody > tr.warning > th, .table > tfoot > tr.warning > th {
    background-color: #e3fce7;
    border-color: #b4c8b6;
}



.table-hover > tbody > tr > td.warning:hover, .table-hover > tbody > tr > th.warning:hover, .table-hover > tbody > tr.warning:hover > td {
    background-color: #e3fce7;
    border-color: #b4c8b6;
}

.anexo {
    display: inline-block;
    min-width: 10px;
    font-weight: bold;
    padding-top: 4px;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    float: right;
}

.form-group input[type="checkbox"] {
    display: none;
}


    .form-group input[type="checkbox"] + .btn-group > label span {
        width: 20px;
    }

        .form-group input[type="checkbox"] + .btn-group > label span:first-child {
            display: none;
        }

        .form-group input[type="checkbox"] + .btn-group > label span:last-child {
            display: inline-block;
        }

    .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
        display: inline-block;
    }

    .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
        display: none;
    }

/* layout.css Style */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center;
}

    .upload-drop-zone.drop {
        color: #222;
        border-color: #222;
    }

.breadcrumb {
    margin: 20px 0;
    padding: 0px;
    background: #fff;
}

    .breadcrumb li a {
        color: #024528;
    }

.zebra {
    background: #e3fce7;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading, .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 10px;
}



.grad {
    background: -webkit-radial-gradient(circle, #fff, #c9d9e4); /* Safari */
    background: -o-radial-gradient(circle, #fff, #c9d9e4); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, #fff, #c9d9e4); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, #fff, #c9d9e4); /* Standard syntax */
}
