@{
	ViewBag.Title = "Principal";
}


<ol class="breadcrumb">
	<li class="active">Principal</li>
</ol>


<div class="container" style="margin-top:20px;">

    
	<div class="row">
		<div class="widget widget-gray">
			<!-- TYPE PANEL -->
			<div class="widget-head">
				<!-- HEAD PANEL -->
				<h4 class="heading"><i class="fa fa-archive"></i>  Buscar cliente</h4>
			</div><!-- /HEAD PANEL -->

			<div class="widget-body" id="widget-body2">
				<!-- CONTENT PANEL -->

				<form>
					<div class="col-lg-8">
						<div class="form-group">                          
							<input type="text" class="form-control" id="busca" placeholder="Nome do cliente">
						</div>
					</div>
					<div class="col-lg-2">
						<div class="form-group">                            
							<select class="form-control" id="filtro">
								<option value="-1">Filtra busca por</option>
								<option value="nome">Nome</option>
								<option value="cpf">CPF</option>                               
							</select>
						</div>
					</div>

					<div class="col-lg-2">
						<div class="form-group">                           
							<button type="button" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Buscar cliente</button>
						</div>
					</div>

				</form>

				<span class="clear"></span>
				<div id="grid"></div>
               
			</div><!-- /CONTENT PANEL -->

			<div class="widget-footer">
				<!-- FOOTER PANEL-->
				<a href="#" class="fa fa-minus-circle fa-1x" data-toggle="tooltip" data-placement="right" title="" data-original-title="FA-MINUS-CIRCLE"><i></i></a>
				<a href="#" class="fa fa-pencil fa-1x" data-toggle="tooltip" data-placement="right" title="" data-original-title="FA-PENCIL"><i></i></a>
				<a href="#" class="fa fa-search fa-1x" data-toggle="tooltip" data-placement="right" title="" data-original-title="FA-SEARCH"><i></i></a>
				<a href="#" class="fa fa-plus-circle fa-1x" data-toggle="tooltip" data-placement="right" title="" data-original-title="FA-PLUS-CIRCLE"><i></i></a>
				<a href="#" id="toggle2" class="fa fa-chevron-up fa-1x" data-toggle="tooltip" data-placement="right" title="" data-original-title="FA-PLUS-CIRCLE"><i></i></a>
			</div><!-- /FOOTER PANEL-->

		</div> <!-- /TYPE PANEL -->
	</div>

</div>


<!-- Como a navegação recarrega a pagina esse script tem que ser usada em cada view -->
@section Scripts {
	<script type="text/javascript">

		$("#filtro").on("change", function () {
            
			if($(this).val() == 'nome'){
				$("#busca").unmask();
			} else {
				$("#busca").mask("999.999.999-99");
            
			}
		});

		$('.nav-pills li:eq(0) a').tab('show');




	</script>
}